{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
     {% for Album in Albums %}
     <tr>
        <th scope="row">{{Album.id}}</th>
        <td><a class="link-underline-light text-black" href="{% url 'EditMusician' Album.Singer.id %}">{{Album.Singer.FirstName}}{{" "}}{{Album.Singer.LastName}}</a></td>
        <td>{{Album.Singer.Email}}</td>
        <td>{{Album.Rating}}</td>
        <td>{{Album.Singer.InstrumentType}}</td>
        <td>{{Album.AlbumName}}</td>
        <td>{{Album.AlbumReleaseDate}}</td>
        <td><span><a class="btn btn-danger btn-sm" href="{% url 'EditAlbum' Album.id %}">Edit</a></span><span><a class="btn btn-warning btn-sm ms-1" href="{% url 'DeleteAlbum' Album.id %}">Delete</a></span></td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}